<!DOCTYPE html>
<html>
<head>
    <title>Administrator kompanije - Novi korisnik</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap-4.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">  
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/ak_zahtevi" style="color: #000000; font-size: 18px;">Zahtevi</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/ak_korisnici" style="color: #008ae6; font-weight: bold; font-size: 18px;">Korisnici</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ak_kompanije" style="color: #000000;  font-size: 18px;">Kompanije</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ak_tip_zahteva" style="color: #000000;  font-size: 18px;">Tip zahteva</a>
            </li>
        </ul>
        <div class="text-right">
            <a href="{{url_for('Logout_Ak')}}" role="button"><i class="fas fa-sign-out-alt logout" title="Odjavi se" style="font-size: 22px;"></i></a>
        </div>
    </div>
  </nav>

<section class="py-3">
    <div class="container" style="border: 1px solid; width: 480px;">
    <a href="/ak_korisnici"><i class="fas fa-arrow-left" style="margin-top: 10px; font-size: 28px;"></i></a>
    <h4 style="text-align: center;">Novi korisnik</h4>
    <form action="{{url_for('Ak_Novi_Korisnik')}}" method="POST"><br/>
           <table class="table" style="margin-bottom: 0px !important;">
              <tbody>
                <tr>
                  <td class="text-left">Ime:</td>
                  <td class="text-right">
                    <input type="text" oninput="auto_grow(this)" name="ime" style="width: 200px;">
                  </td>
                </tr>
                <tr>
                  <td class="text-left">Prezime:</td>
                  <td class="text-right">
                    <input type="text" oninput="auto_grow(this)" name="prezime" style="width: 200px;">
                  </td>
                </tr>
                <tr>
                  <td class="text-left">Kompanija:</td>
                  <td class="text-right">
                    <select name="kompanija" style="width: 200px">
                          <option disabled selected>Izaberi iz liste</option>
                          {% for kompanije in kompanije %}
                          <option value="{{kompanije.id_kompanije}}">{{kompanije.naziv_kompanije}}</option>
                          {% endfor %}
                      </select>
                  </td>
                </tr>
                <tr>
                  <td class="text-left">Rola:</td>
                  <td class="text-right">
                    <select name="rola" style="width: 200px">
                          <option disabled selected>Izaberi iz liste</option>
                          {% for rola in rola %}
                          <option value="{{rola.id_role}}">{{rola.naziv_role}}</option>
                          {% endfor %}
                      </select>
                  </td>
                </tr>
                 <tr>
                  <td class="text-left">E-mail:</td>
                  <td class="text-right">
                    <input type="email" oninput="auto_grow(this)" name="email" style="width: 200px;">
                  </td>
                </tr>
                <tr>
                  <td class="text-left">Korisničko ime:</td>
                  <td class="text-right">
                    <input type="text" oninput="auto_grow(this)" name="korisnicko_ime" style="width: 200px;">
                  </td>
                </tr>
                <tr>
                  <td class="text-left">Lozinka:</td>
                  <td class="text-right">
                    <input type="password" oninput="auto_grow(this)" name="lozinka" style="width: 200px;">
                  </td>
                </tr>
                <tr>
                  <td colspan="2" align="center">
                    <input type="submit" style="width: 100%;" class="fourth zero-raduis" value="Sačuvaj">
                  </td>
                </tr>
              </tbody>
             </table>
      </form>
  </div>
</section>

<script type="text/javascript">

    function auto_grow(element)
    {
        element.style.height = "34px";
        element.style.height = (element.scrollHeight)+"px";
    }

    var field = document.querySelector('#today');
    var date = new Date();

    // Set the date
    field.value = date.getFullYear().toString() + '-' + (date.getMonth() + 1).toString().padStart(2, 0) + '-' + date.getDate().toString().padStart(2, 0);
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>  
</body>
</html>