<!DOCTYPE html>
<html>
<head>
    <title>Administrator kompanije - Korisnici</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap-4.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">  
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/akk_zahtevi" style="color: #000000; font-size: 18px;">Zahtevi</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/akk_korisnici" style="color: #008ae6; font-weight: bold; font-size: 18px;">Korisnici</a>
            </li>
        </ul>
        <div class="text-right">
            <a href="{{url_for('Logout_Akk')}}" role="button"><i class="fas fa-sign-out-alt logout" title="Odjavi se" style="font-size: 22px;"></i></a>
        </div>
    </div>
</nav>

<div class="container justify-content-center my-5 py-3">

       <div class="row">
          <div class="col text-left ml-1 pl-1" style="padding-top: 7px;">
            <a href="/akk_korisnici"><i class="fas fa-arrow-left" style="font-size: 28px;"></i></a>
          </div>
          <div class="col text-center mr-4 pr-4" style="padding-top: 4px;">
            <a class="result_title" href="#" style="font-size: 21px;">Rezultati pretrage:</a>
          </div>
          <div class="col text-right mr-1 pr-1" style="padding-top: 7px;">
            <a class="btn btn-light" href="/akk_novi_korisnik">Dodaj novog korisnika&nbsp;
                <i class="fas fa-plus-circle text-success"></i>
            </a>
          </div>
       </div>
      
      <div class="row my-3 justify-content-center">
          <div class="table-responsive">
            <table class="table">
              <thead style="background-color: #008ae6;">
                <tr style="color: white;">
                  <th scope="col">Ime i prezime</th>
                  <th scope="col">Kompanija</th>
                  <th scope="col">Rola</th>
                  <th scope="col">E-mail</th>
                  <th scope="col">Aktivnost</th>
                </tr>
              </thead>
              <tbody>
                {% for korisnici in korisnici %}
                <tr>
                  <td>{{korisnici.ime}} {{korisnici.prezime}}</td>
                  <td>{{korisnici.naziv_kompanije}}</td>
                  <td>{{korisnici.naziv_role}}</td>
                  <td>{{korisnici.email}}</td>
                  <td>
                  <a href="{{url_for('Akk_Korisnik_Izmena', id_data = korisnici.id_korisnika)}}" class="icon-btn text-warning" role="button"><i class="fas fa-edit"></i></a>&nbsp;
                  <a class="icon-btn text-danger" href="/akk_korisnik_brisanje/{{korisnici.id_korisnika}}" onclick="return confirm('Da li ste sigurni da želite da obrišete navedenog korisnika?')" role="button"><i class="fas fa-trash-alt"></i></a>
                </td>
                {% endfor %}
              </tr>
              </tbody>
            </table>
           </div>
    </div>
</div>

<script type="text/javascript">

    function auto_grow(element)
    {
        element.style.height = "34px";
        element.style.height = (element.scrollHeight)+"px";
    }

    var field = document.querySelector('#today');
    var date = new Date();

</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> 
</body>
</html>
