<!DOCTYPE html>
<html>
<head>
    <title>Administrator kompanije - Korisnici</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap-4.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">  
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/akk_zahtevi" style="color: #000000; font-size: 18px;">Zahtevi</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/akk_korisnici" style="color: #008ae6; font-weight: bold; font-size: 18px;">Korisnici</a>
            </li>
        </ul>
        <div class="text-right">
            <a href="{{url_for('Logout_Akk')}}" role="button"><i class="fas fa-sign-out-alt logout" title="Odjavi se" style="font-size: 22px;"></i></a>
        </div>
    </div>
</nav>

<div class="container justify-content-center my-5">

    <div class="row">
        <div class="col" style="padding-left: 0px !important;">
            <div class="table-responsive">
                <form name="Pretraga" action="{{url_for('Akk_Korisnici_Rezultati')}}" onsubmit="ValidateForm()" method="POST">
                    <table class="table table-bordered pb-0">
                        <tbody style="text-align: center;">
                            <tr>
                                <td style="vertical-align: middle !important;">
                                    <select name="rola" class="search" style="width: 100%; border: 0px !important; outline: 0px;">
                                        <option label="Rola"></option>
                                          {% for rola in rola %}
                                          <option value="{{rola.id_role}}">{{rola.naziv_role}}</option>
                                          {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    <input type="text" name="ime" placeholder="Ime" class="search" style="width: 100%; border: none !important; outline: none !important; text-decoration: none !important;">
                                </td>
                                <td>
                                    <input type="text" name="prezime" placeholder="Prezime" class="search" style="width: 100%; border: none !important; outline: none !important; text-decoration: none !important; -webkit-box-shadow: none !important; box-shadow: none !important;">
                                </td>
                                <td style="text-align: center !important; vertical-align: middle;">
                                    <a href="javascript:$('form').submit();"><i class="fas fa-search search_sbmt_btn"></i></a>
                                </td>
                            </tr>
                        </tbody>
                      </table>
                  </form>
            </div>
        </div>

        <div class="col-md-auto pr-0 pt-1">
            <table class="table table-bordered tbl">
                <tbody>
                    <tr>
                        <td style="text-align: center !important; vertical-align: middle !important;">
                            <a class="btn btn-light" href="/akk_novi_korisnik">Dodaj novog korisnika&nbsp;
                                <i class="fas fa-plus-circle text-success"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="my-3 justify-content-center">
        {%with messages = get_flashed_messages()%}
        {%if messages%}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label ="close">
                <span aria-hidden="true">&times;</span>
            </button>
            <center>{{message}}</center>
        </div>
        {%endfor%}
        {%endif%}
        {%endwith%}
        <div class="table-responsive">
            <table class="table">
              <thead style="background-color: #008ae6;">
                <tr style="color: white;">
                  <th scope="col">Ime i prezime</th>
                  <th scope="col">Kompanija</th>
                  <th scope="col">Rola</th>
                  <th scope="col">E-mail</th>
                  <th scope="col">Aktivnost</th>
                </tr>
              </thead>
              <tbody>
                {% for korisnici in korisnici %}
                <tr>
                  <td>{{korisnici.ime}} {{korisnici.prezime}}</td>
                  <td>{{korisnici.naziv_kompanije}}</td>
                  <td>{{korisnici.naziv_role}}</td>
                  <td>{{korisnici.email}}</td>
                  <td>
                  <a href="{{url_for('Akk_Korisnik_Izmena', id_data = korisnici.id_korisnika)}}" class="icon-btn text-warning" role="button"><i class="fas fa-edit"></i></a>&nbsp;
                  <a class="icon-btn text-danger" href="/akk_korisnik_brisanje/{{korisnici.id_korisnika}}" onclick="return confirm('Da li ste sigurni da želite da obrišete navedenog korisnika?')" role="button"><i class="fas fa-trash-alt"></i></a>
                </td>
                {% endfor %}
              </tbody>
            </table>
           </div>
    </div>
</div>

<script type="text/javascript">

    function auto_grow(element)
    {
        element.style.height = "34px";
        element.style.height = (element.scrollHeight)+"px";
    }

    function ValidateForm()
    {
        var fields = document.getElementsByClassName("search");
        var ok = false;

        for (var i = 0, l = fields.length; i < l; i++){
          
          if (fields[i].value != ""){
                ok = true;
                break;
            }
        }
        
        if (!ok) { 
            alert("Neophodno je izabrati barem jedno polje za pretragu!");
            event.preventDefault();
        }
    }

</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>  
</body>
</html>