<!DOCTYPE html>
<html>
<head>
    <title>Zaposleni kompanije - Zahtevi</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap-4.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">  
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/zkk_zahtevi" style="color: #008ae6; font-weight: bold; font-size: 18px;">Zahtevi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/zkk_nalog" style="color: #000000;  font-size: 18px;">Nalog</a>
            </li>
        </ul>
        <div class="text-right">
            <a href="{{url_for('Logout_Zkk')}}" role="button"><i class="fas fa-sign-out-alt logout" title="Odjavi se" style="font-size: 22px;"></i></a>
        </div>
    </div>
  </nav>

<div class="container justify-content-center my-5">
    <div class="row">
        <div class="col" style="padding-left: 0px !important;">
            <div class="table-responsive">
                <form name="Pretraga" action="{{url_for('Zkk_Zahtevi_Rezultati')}}" onsubmit="ValidateForm()" method="POST">
                    <table class="table table-bordered pb-0">
                        <tbody style="text-align: center;">
                            <tr>
                                <td style="vertical-align: middle !important;">
                                    <select name="ime_prezime_podnosioca" class="search" style="width: 100%; border: 0px !important; outline: 0px;">
                                        <option label="Podnosilac"></option>
                                          {% for podnosilac in podnosilac %}
                                          <option value="{{podnosilac.id_korisnika}}">{{podnosilac.ime}} {{podnosilac.prezime}}</option>
                                          {% endfor %}
                                    </select>
                                </td>
                                <td style="vertical-align: middle !important;">
                                    <input type="date" name="datum_podnosenja" class="search" style="width: 100%; border: 0px !important; outline: 0px !important;; text-decoration: none !important; color: black;">    
                                </td>
                                <td rowspan="2" style="text-align: center !important; vertical-align: middle;">
                                    <a href="javascript:$('form').submit();"><i class="fas fa-search search_sbmt_btn"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle !important;">
                                    <select name="status" class="search" style="width: 100%; border: 0px !important; outline: 0px;">
                                        <option label="Status"></option>
                                        {% for status in status %}
                                        <option value="{{status.id_status}}">{{status.tip_statusa}}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td style="vertical-align: middle !important;">
                                    <select name="tip_zahteva" class="search" style="width: 100%; border: 0px !important; outline: 0px;">
                                        <option label="Tip zahteva"></option>
                                        {% for tip_zahteva in tip_zahteva %}
                                        <option value="{{tip_zahteva.id_tipa_zahteva}}">{{tip_zahteva.skracena_oznaka}}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                      </table>
                  </form>
            </div>
        </div>

        <div class="col-md-auto pr-0 pt-4">
            <table class="table table-bordered tbl">
                <tbody>
                    <tr>
                        <td style="text-align: center !important; vertical-align: middle !important;">
                            <a class="btn btn-light" href="/zkk_novi_zahtev">Dodaj novi zahtev&nbsp;
                                <i class="fas fa-plus-circle text-success"></i>
                            </a>
                        </td>
                    </tr>
                    <!-- <tr>
                        <td style="text-align: center !important; vertical-align: middle !important;">
                            <a href="#" class="kreiraj" style="color: black;">Kreiraj PDF 
                                <i class="far fa-file-pdf"></i>
                            </a>
                        </td>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </div>

    <div class="my-3 justify-content-center">
      {%with messages = get_flashed_messages()%}
        {%if messages%}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label ="close">
                <span aria-hidden="true">&times;</span>
            </button>
            <center>{{message}}</center>
        </div>
        {%endfor%}
        {%endif%}
        {%endwith%}

        <div class="table-responsive">
            <table class="table">
              <thead style="background-color: #008ae6;">
                <tr style="color: white;">
                  <th scope="col">ID</th>
                  <th scope="col">Datum podnošenja</th>
                  <th scope="col">Podnosilac</th>
                  <th scope="col">Iz kompanije</th>
                  <th scope="col">Za kompaniju</th>
                  <!-- <th scope="col">Tip</th> -->
                  <th scope="col">Status</th>
                  <th scope="col">Očekivani datum</th>
                  <!-- <th scope="col">Broj utrošenih sati</th> -->
                  <th scope="col">Aktivnost</th>
                </tr>
              </thead>
              <tbody>
                {% for zahtevi in zahtevi %}
                <tr>
                  <td>{{zahtevi.broj_zahteva}}</td>
                  <td>{{zahtevi.datum_podnosenja}}</td>
                  <td>{{zahtevi.ime}} {{zahtevi.prezime}}</td>
                  <td>{{zahtevi.naziv_kompanije}}</td>
                  <td>{{zahtevi.za_kompaniju}}</td>
                  <!-- <td>{{zahtevi.naziv_tipa}}</td> -->
                  <td>{{zahtevi.naziv_statusa}}</td>
                  <td>{{zahtevi.ocekivani_datum}}</td>
                  <!-- <td>{{zahtevi.broj_utrosenih_sati}}</td> -->
                  <td>
                  <a class="icon-btn text-primary" href="{{url_for('Zkk_Zahtev', id_data = zahtevi.id_zahteva)}}" role="button"><b><i class="far fa-eye"></i></b></a>&nbsp;
                  <a href="{{url_for('Zkk_Zahtev_Izmena', id_data = zahtevi.id_zahteva)}}" class="icon-btn text-warning" 
                    role="button"><i class="fas fa-edit"></i></a>
                </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
           </div>
       </div>
</div>

<script type="text/javascript">

    function auto_grow(element)
    {
        element.style.height = "34px";
        element.style.height = (element.scrollHeight)+"px";
    }

    function ValidateForm()
    {
        var fields = document.getElementsByClassName("search");
        var ok = false;

        for (var i = 0, l = fields.length; i < l; i++){
          
          if (fields[i].value != ""){
                ok = true;
                break;
            }
        }
        
        if (!ok) { 
            alert("Neophodno je izabrati barem jedno polje za pretragu!");
            event.preventDefault();
        }
    }

</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>  
</body>
</html>